/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #F1F5F9;
  color: #0F172A;
  line-height: 1.6;
}

/* CONTAINER */
.container {
  width: 92%;
  max-width: 1200px;
  margin: auto;
}

/* ================= HEADER ================= */

header {
  background: #0F172A;
  padding: 15px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav h2 {
  color: white;
  font-size: 22px;
}

/* NAV LINKS */
.nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav a:hover {
  color: #60A5FA;
}

/* ================= HERO ================= */

.hero {
  padding: 80px 0;
  background: white;
}

.hero-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;   /* important */
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero h3 {
  font-weight: 500;
  color: #2563EB;
  margin-bottom: 15px;
}

.hero p {
  margin-bottom: 20px;
  max-width: 520px;
}

.hero img {
  width: 300px;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* BUTTON */
.btn {
  display: inline-block;
  background: #2563EB;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background: #1E40AF;
}

/* ================= CARDS ================= */

.page-section {
  padding: 70px 0;
}

.card {
  background: white;
  padding: 25px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

.grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* ================= FOOTER ================= */

footer {
  background: #0F172A;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

/* ================================================= */
/* ================= RESPONSIVE ==================== */
/* ================================================= */

/* TABLET */
@media (max-width: 992px) {

  .hero-flex {
    flex-direction: column;
    text-align: center;
  }

  .hero p {
    margin: auto;
  }

  .nav ul {
    gap: 15px;
  }

}

/* MOBILE */
@media (max-width: 600px) {

  .nav {
    flex-direction: column;
    align-items: center;
  }

  .nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
    margin-top: 10px;
  }

  .nav li {
    width: 100%;
    text-align: center;
  }

  .hero {
    padding: 50px 0;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero h3 {
    font-size: 18px;
  }

  .hero img {
    width: 220px;
  }

}
